[project]
name = "agent"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "fastapi[standard]>=0.121.2",
    "httpx>=0.28.1",
    "ipykernel>=7.1.0",
    "jupyter-client>=8.6.3",
    "websockets>=15.0.1",
]
